/* styles.css */

/* 使用并集选择器来设置内外边距为0 */

h1 {
    color: white;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
}

.course-navigation {
    border-radius: 10px;
    /*border-top: 2px solid #0077b6; /* 设置导航列表上边框 */
    border: orange solid 2px;
    margin: 30px;
    width: 250px;
    margin:0 auto;
}

.center-image {
    vertical-align: middle;
}

.course-list {
    list-style-type: none;
    margin:0 auto;
    padding-top: 0;
    padding-left: 3px;
    padding-right: 3px;
}


.course-list-item {
    padding-top: 6px;
    padding-bottom: 10px;
    background-image: url('.//图片素材/dotBg.gif');
    color: #000;
    font-weight: bold;
    /* background-image: url('dotBg.gif');  */
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px dotted #dee2e6;
}

.course-list-item-last {
    padding-top: 6px;
    padding-bottom: 10px;
    background-image: url('.//图片素材/dotBg.gif');
    color: #000;
    font-weight: bold;
    /* background-image: url('dotBg.gif');  */
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

.course-list-item:hover {
    color: red; /* 鼠标移入时字体颜色变为暗红色 */
}