h2 {
    color: #003580
}

#my-paragraph {
    color: #000033;
    font-size: 14px;
}

.a-text {
    color: #F00;
}

.b-text {
    color: #1F87CC;
}

.c-text {
    color: #FAA53B;
}

.d-text {
    color: #0D7114
}


.image1-size {
    width: 100px;
    height: 160px;
}

.image2-size {
    width: 200px;
    height: 130px;
}