header a {
    /* 添加样式规则，例如设置颜色和字体大小 */
    color: red;

}

footer a {
    /* 添加样式规则，例如设置颜色和字体大小 */
    color: pink;
}

body ul li{
    color: turquoise;
}

/* 使用属性选择器选择属性值为"text"的元素，并设置背景颜色和字体大小 */
[type="text"] {
    background-color: #FFFFED;
}

/* 使用属性选择器选择属性值含有"pass"字符串的元素 */
[type="password"] {
    /* 添加样式规则，例如设置颜色和加粗 */
    background-color: skyblue;
}

/* 使用结构伪类选择器选择section下面的第一张图片元素 */
section img:first-child {
    /* 添加样式规则，例如设置边框 */
    border: 2px solid red;
}

/* 使用层次选择器选择section下的li元素 */
section li {
    /* 添加样式规则，例如设置背景颜色和间距 */
    background-color: #ccc;
    padding: 10px;
}

