body {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 2px 5px #888888;
    transition: all 0.3s;
}

li:hover {
    box-shadow: 5px 5px 10px #888888;
}

img {
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    line-height: 40px;
    margin: 0;
}
  

.description {
    color: #FF0000; /* 设置深红色文本颜色 */
    font-size: 18px;
    /* line-height: 10px; */
    margin: 0;
}
  
.click-count {
    color: #0000FF; /* 设置蓝色文本颜色 */
    font-size: 18px;
    /* line-height: 40px; */
    margin: 0;
}